.footer-section{
    margin-top:5%;
    background-color: #f9f9f9;
  
        margin: 50px 0 0 0; /* or just use:  margin-top: 50px;*/
    
}
.copyright,
.copyright a {
    font-size: 10px;
    color: rgb(89, 129, 150);
    text-decoration: none;
    background-color: transparent;
}


.footer-icon {
    font-size: 25px;
    color: black;

}

.footer-email {
    font-size: 15.5px;

}

svg{
    width: 50px;
}