.footer-section {

    margin-top: 5%;
    background-color: #f9f9f9;
    bottom: 0px;
}

.copyright,
.copyright a {
    font-size: 10px;
    color: rgb(89, 129, 150);
    text-decoration: none;
    background-color: transparent;
}


.footer-icon {
    font-size: 25px;
    color: black;

}

.footer-email {
    font-size: 15.5px;

}

svg {
    width: 50px;
}



@media only screen and (max-width:1024px) {



    .footer-section {

        margin-top: 5%;
        background-color: #f9f9f9;

        left: 0;
        bottom: 0;
        right: 0;

    }


}