$font-size-base: 0.9rem !default;
$font-family-sans-serif: "Roboto",
sans-serif !default;
$bg-secondary: #F9F8FD;
$bg-primary: #F3C150;
$dark-black: #31374D;
$white-color: #FFFF;

.project-div{
    padding-bottom:10%;
}
.project-title{
    margin-top: 8%;
    color: $bg-primary;
    text-align: center;


}


.project-container{
    margin-top: 5%;
    background-color: white !important;
   
}

.project-jumbo {
   
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;

}

.project-subtitle{
    font-family: 'Nunito', sans-serif;
    color: black !important;
    font-size: 25px;
} 

.project-image{
  
    /* margin-top:15%; */
 
 }

 .project-tools{

    color: lightskyblue;
    text-align: center;
}

.project-content{
    margin: 10px;
    color:black;
    font-size: 18px;
    text-align: center;

}

.view-project{
    // text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: $bg-primary;
    border-radius: 5px;
    margin: 0 auto;
    width: 15vw;
   
}

.projectCard{
  
    justify-content: center;

}



a:hover{
    text-decoration: none !important;
}