@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
$font-size-base: 0.9rem !default;
$font-family-sans-serif: "Roboto",
sans-serif !default;
$bg-secondary: #F9F8FD;
$bg-primary: #F3C150;
$dark-black: #31374D;
$white-color: #FFFF;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $font-family-sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 17px;
    color: black;
}



.nav-top {
    background-color: white;
    opacity: .95;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: $bg-primary;
}

.nav-title {
    color: black !important;
}

.bg-light {
    background-color: white !important;
}

.oblique-text {
    font-style: oblique;
    font-size: 20px;
}

.primary-color {
    color: #F3C150;
}

.navbar-nav .nav-link {
    text-align: center;
}

.painter-img {
    margin-left: -250px;

    @media only screen and (max-width:1198px) {
        display: none;

    }
}

@media only screen and (max-width:768px) {

    .nav-title {
        font-size: 5vw;
    }

}


@media only screen and (max-width:280px) {
    .nav-title {
        font-size: 4vw;
    }
}